@font-face {
  font-family: "Bliss Pro", "BlissWeb", "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
    font-weight: 300;
    color: #626262;
    line-height: 1.5;
    font-size: 2.9em;
    margin: 0;
    padding: 0;
    background-color: #fffffe;
}

h1 {
    color: #A51140;
    font-size: 3.9em;
    line-height: 1.2;
    margin: 0 0 .40em 0;
    display: block;
    font-weight: bold;
}

h2 {
    color: #005E6E;
    font-size: 2.4em;
    line-height: 1.2;
    margin: 0 0 .40em 0;
}

h3 {
    color: #1E1E1E;
    font-size: 2em;
    line-height: 1.40;
    font-weight: 500;
    margin: 0 0 .5em 0;
    display: block;
}

ul {
    list-style: circle;
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
}

.small-code pre code {
  font-size: 1em;
}

.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}

.footer {
    color: black; background: ;#2a5f87;
    position: fixed; top: 90%;
    text-align:center; width:100%;
}

.pinky .reveal .state-background {
  background: #2a5f87;
} 

